<a href="https://colab.research.google.com/github/jrmfilho34/Rede-Neural/blob/master/Colab_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
" importação das bibliotecas "
import tensorflow as tf

import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd

In [6]:
"Importação do dados IBOV"
df =  pd.read_csv("https://query1.finance.yahoo.com/v7/finance/download/%5EBVSP?period1=1417392000&period2=1588204800&interval=1d&events=history", sep=",")
df.columns
df.head()

         Date     Open     High      Low    Close  Adj Close     Volume
0  2014-12-01  54719.0  54719.0  52156.0  52276.0    52276.0  4312800.0
1  2014-12-02  52277.0  52639.0  51471.0  51612.0    51612.0  3296400.0
2  2014-12-03  51610.0  52470.0  51610.0  52320.0    52320.0  2724600.0
3  2014-12-04  52320.0  52539.0  51074.0  51427.0    51427.0  2913300.0
4  2014-12-05  51427.0  52023.0  51163.0  51992.0    51992.0  2530100.0